<o-form show-header="no" #form service="users" entity="user" keys="user_">
  <o-row>

    <o-column title-label="Formulario_Prueba" fxFlex>

      <o-row>
        <o-text-input class="input-padding" attr="user_" fxFlex="40" name="user_" label="Nickname" read-only="yes"></o-text-input>&nbsp;&nbsp;&nbsp;
      </o-row>

      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" name="name" label="Nombre" read-only="yes"></o-text-input>&nbsp;&nbsp;&nbsp;
      </o-row>

      <o-row>
        <o-text-input class="input-padding" attr="surname" fxFlex="40" name="surname" label="Apellidos" read-only="yes"></o-text-input>
      </o-row>

      <o-date-input class="birthday" attr="birthday" fxFlex="40" name="birthday" label="Fecha de nacimiento" read-only="yes" format="LL"></o-date-input>

       <o-row>
          <o-email-input class="email" attr="email" fxFlex name="email"  fxFlex="40" label="Correo electrónico" read-only="yes"></o-email-input>
      </o-row>

      <o-date-input class="birthday" attr="expiration_date"  label="Fin suscripción" fxFlex="40" name="birthday" read-only="yes" format="LL"></o-date-input>


    </o-column>
  </o-row>
</o-form>



