<o-form show-header="no" #form service="users" entity="user" keys="user_">
  <o-row>

    <o-column title-label="Formulario_Prueba" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" name="name"></o-text-input>
        <o-text-input class="input-padding" attr="surname" fxFlex="40" name="surname"></o-text-input>
        <o-date-input class= "birthday" attr="birthday" fxFlex="20" name="birthday" ></o-date-input>
      </o-row>

      <o-row>
        <o-text-input class="input-padding" attr="user_" fxFlex="40" name="user_"></o-text-input>
      </o-row>

      <o-row>
        <o-email-input class="email" attr="email" fxFlex name="email" ></o-email-input>
      </o-row>

    </o-column>
  </o-row>
</o-form>
