.o-form {

  margin-top: 10%;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  background-color: hsl(177, 20%, 44%);

}

.name {
  color:yellow;
}

.input-padding {
  color:white;
}

.birthday {
  color:white;
}

.email {
  color:white;
}
