<div class="container">
  <h3>Juegos mejor valorados según críticos externos</h3>

<div class="table">
  <table aria-label="ranking de videojuegos">
    <tbody>
    <tr>
      <th>Posición</th>
      <th>Portada</th>
      <th>Nombre del juego</th>
      <th>Puntuación</th>
    </tr>
    <tr *ngFor="let dataItem of data; let i = index ">
      <td class="td">{{i + 1}}</td>
      <td>
        <div>
        <img class="img"  alt="carátula del juego" src="http://{{dataItem.url}}" >
        </div>
      </td>
      <td> {{dataItem.name}}</td>
      <td>{{dataItem.aggregated_rating}}</td>
    </tr>
    </tbody>
  </table>

</div>
</div>
