.table{
  color: white;
  margin-top: 10px;
}

.container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

}

table{
  border-collapse: collapse;
  width: 600px;
}

.img{
  width: 45px;
  height: 45px;
}

tr{
  padding-right: 10px;
}



table tbody tr:nth-child(odd) {
  background: #A85DD2;
}
table tbody tr:nth-child(even) {
  background: #C18BDF;
}
