
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}


.responsive-table li {
  display: inline;
}

.responsive-table {
  width: 100em;
  display: flex;
  justify-content: space-between;

  li {
    border-radius: 3px;
    margin-bottom: 25px;
  }

  .table-header {
    background-color: #8217bf;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
  }

  .inline {
    display: inline;
  }

  .divText {
    font-size: 15px;
    margin-top: 0.5em;
    max-width: 258px;
  }

  .medal {
    z-index: 1;
    width: 3em;
    margin-left: 200px;
    position: absolute;
    top: 450px;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
      display: inline;
    }

    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: center;
      }
    }
  }
}

