<div class="stripe-container">

  <h2 class="title">PRECIOS</h2>
  <div class="stripe-elements">

    <div class="columns">
      <ul class="price">
        <li class="header">Mensual</li>
        <li class="subheader">Con un texto queda más boni</li>
        <li class="money">9.99€</li>
        <li>Acceso ilimitado a más de 100 juegos</li>
        <li>Descuentos y eventos exclusivos para miembros</li>
        <li>Juegos nuevos cada semana</li>
        <li>
          <button (click)="handlePaymentClick(9.99)" class="btn-buy">COMPRAR</button>
        </li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Mensual</li>
        <li class="subheader">Con un texto queda más boni</li>
        <li class="money">24.99€</li>
        <li>Acceso ilimitado a más de 100 juegos</li>
        <li>Descuentos y eventos exclusivos para miembros</li>
        <li>Juegos nuevos cada semana</li>
        <li>
          <button (click)="handlePaymentClick(24.99)" class="btn-buy">COMPRAR</button>
        </li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Mensual</li>
        <li class="subheader">Con un texto queda más boni</li>
        <li class="money">99.99€</li>
        <li>Acceso ilimitado a más de 100 juegos</li>
        <li>Descuentos y eventos exclusivos para miembros</li>
        <li>Juegos nuevos cada semana</li>
        <li>
          <button (click)="handlePaymentClick(99.99)" class="btn-buy">COMPRAR</button>
        </li>
      </ul>
    </div>

  </div>
</div>
