.feed-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: rgba(248, 247, 247, 0.97);
}

.feed-elements{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: min-content;
  padding-left: 25px;

}



.newBody{
  margin-top: 20px;
  border-bottom: 1px solid #D2D2D2;
}
