.feed-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #393939;
  color: white;
}

.feed-elements{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: min-content;
  padding-left: 25px;

}

p{
  padding-top: 20px;
}

.fuente{
  padding-left: 480px;
  margin-top: 0 ;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 30px;
}

.title{
  margin-bottom: 20px;
  border-bottom: 2px solid #D2D2D2;
}
