
<div class="container-torneo " >
	<table>
		<thead>
			<tr>
				<th>Torneo</th>
				<th>Fecha de inicio</th>
				<th>Fecha de finalización</th>
				<th>Premio</th>
        <th>Participantes</th>
				<th>Registro</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of dataTournaments ">
				<td >{{item.tour_name}}</td>
				<td >{{item.start_date | date: 'dd-MM-yyyy'}}</td>
				<td>{{item.end_date | date: 'dd-MM-yyyy'}}</td>
				<td>{{item.prize}}</td>
        <td></td>
				<td><button class="boton">Participar</button></td>
			</tr>
		</tbody>
	</table>
</div>
