<o-form attr="tabla" service="subscription_types" entity="subscriptionTypes" keys="id" keys-sql-types="INTEGER" header-actions="R;I;U;D" show-header-navigation="no">
<o-row>
  <o-column title-label="PRICE_UPDATE" fxFlex>
    <o-row>
      <o-text-input class="input-padding" attr="sub_type" fxFlex="40" name="sub_type" label="Subscription Types" ></o-text-input>
      <o-currency-input class="input-padding" attr="price"  fxFlex="40" name="price" label="Price" read-only="no" type="currency" currency-symbol="$"></o-currency-input>
    </o-row>
  </o-column>
</o-row>
</o-form>
