  <div fxLayout="row">

      <h1>Suscripciones por tipos</h1>

      <o-chart fxFlex="40" type="multiBar" x-label="month" y-label="Amount (€)" layout-fill  x-data-type="string" y-data-type="int" service="users" entity="dashBoard"
        x-axis="month" y-axis="mensual;trimestral;anual"></o-chart>


      <h1>Ingresos</h1>

      <o-chart fxFlex="40" type="multiBar" x-label="month" y-label="Amount (€)" layout-fill  x-data-type="string" y-data-type="int" service="users" entity="dashBoard"
      x-axis="month" y-axis="total_mensual;total_trimestral;total_anual"></o-chart>
  </div>
  <div fxLayout="row">
    <h1>Nuevos Suscriptores</h1>
      <o-chart  fxFlex="40"  type="discreteBar" x-label="Time" y-label="Number" y-data-type="int" service="users" entity="dashBoard"
        x-axis="month" y-axis="total" ></o-chart>
        <h1>Usuarios en torneos</h1>
      <o-chart  fxFlex="40"  type="discreteBar" x-label="Time" y-label="Number" y-data-type="int" service="tourusers" entity="countTour"
        x-axis="tour_name" y-axis="total" ></o-chart>
  </div>
