<o-form fxFill editable-detail="false" service="users" entity="subsPrice" keys="user_" show-header="no" header-actions="R;D"
show-header-navigation="yes" >
  <o-chart  type="multiBar" x-label="month" y-label="Amount" layout-fill  service="users" entity="subsPrice"
    x-axis="month" y-axis="mensual;trimestral;anual" ></o-chart>

    <o-chart type="multiBar" x-label="month" y-label="Amount" layout-fill service="users" entity="subsPrice"
    x-axis="month" y-axis="total_mensual;total_trimestral;total_anual"></o-chart>
</o-form>
