<o-form-layout-manager mode="tab">
  <div fxFill fxLayout="column" fxLayoutAlign="start" >
    <o-table fxFlex attr="tabla" service="tournaments" entity="tournaments" keys="id"
      columns="id;tour_name;description;start_date;end_date"
      visible-columns="tour_name;description;start_date;end_date" query-rows="20">
      <o-table-column attr="tour_name" title="Tournament Name" label="tour_name"></o-table-column>
      <o-table-column attr="description" title="Description"></o-table-column>
      <o-table-column attr="start_date" title="Start Date" type="date" format="LL"></o-table-column>
      <o-table-column attr="end_date" title="End Date" type="date" format="LL"></o-table-column>
      </o-table>
  </div>
  </o-form-layout-manager>
