mat-toolbar{
  justify-content: flex-end;
  color:#4d0c6a ;
}

.logo img {
  display: flex;
  justify-content: center;
}

img{
  margin-top: 20px;
  height: 124px;
  width: 124px;
}

.form-control{
  display: inline;
  width: 13em;
}
