<o-form-layout-manager mode="tab">
  <div fxFill fxLayout="column" fxLayoutAlign="start" >
    <o-table fxFlex attr="tabla" service="subscription_types" entity="subscriptionTypes" keys="id" sort-columns="price:asc"
      columns="sub_type;price"
      visible-columns="sub_type;price" query-rows="20">
      <o-table-column orderable="yes" attr="sub_type" title="Subscription Type" label="subscription type"></o-table-column>
      <o-table-column orderable="yes" attr="price" title="Price"></o-table-column>
    </o-table>
  </div>
  </o-form-layout-manager>
