@import "node_modules/@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

/* Color definitions */
$mat-custom-primary: (
  50: #EAE2ED,
  100: #CAB6D2,
  200: #A686B5,
  300: #825597,
  400: #683080,
  500: #4D0C6A,
  600: #460A62,
  700: #3D0857,
  800: #34064D,
  900: #25033C,
  A100: #BC72FF,
  A200: #A33FFF,
  A400: #8B0CFF,
  A700: #7E00F1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-custom-accent: (
  50: #EAE2ED,
  100: #CAB6D2,
  200: #A686B5,
  300: #825597,
  400: #683080,
  500: #4D0C6A,
  600: #460A62,
  700: #3D0857,
  800: #34064D,
  900: #25033C,
  A100: #BC72FF,
  A200: #A33FFF,
  A400: #8B0CFF,
  A700: #7E00F1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: #393939;

/* Light theme */
$theme: mat-dark-theme($primary, $accent);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $background-color,
  )
);

$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);
/* Dark theme */
$primary-dark: mat-palette($mat-custom-primary);
$accent-dark: mat-palette($mat-custom-accent);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);
