<!--<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Nombre del Juego"
        />
      </div>
    </div>
  </div>
  <div class="search-list">
    <table class="table" id="myTable">
      <thead>
      <tr>
        <th>Juego</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataItem of data ">
        <td>{{ dataItem.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>--->
<div class="col-md-9">
  <input
    type="text"
    id="myInput"
    class="form-control"
    [formControl]="queryField"
    placeholder="Nombre del Juego"
  />
</div>
<br>
<br>


  <div class="gallery__item">
    <ng-container *ngFor="let img of pageOfItems">
      <div style="flex-basis: 25%;">
        <img
          src="http://{{img.cover.slice(2).replace('t_thumb', 't_cover_big')}}"
        alt="Img">
      </div>
    </ng-container>
  </div>

<jw-pagination [items]="data" (changePage)="onChangePage($event)"></jw-pagination>
