  <div class="gallery__item">
    <span *ngIf="!pageOfItems || pageOfItems.length==0"> No hay resultados </span>
    <ng-container *ngFor="let img of pageOfItems">
      <div style="flex-basis: 17%;margin-bottom: 20px;">
        <img
          src="http://{{img.cover.slice(2).replace('t_thumb', 't_cover_big')}}"
        alt="Img">
        <p>{{img.name}}</p>
      </div>
    </ng-container>
  </div>
<div class="barraPaginacion">
  <jw-pagination [items]="data" (changePage)="onChangePage($event)"></jw-pagination>
</div>

