<o-form service="users" entity="user" keys="userid" #form>
  <o-row>

    <o-column title-label="Formulario_Prueba" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" name="name"></o-text-input>
        <o-text-input class="input-padding" attr="surname" fxFlex="40" name="surname"></o-text-input>
        <o-date-input attr="birthday" fxFlex="20" name="birthday" ></o-date-input>
      </o-row>

      <o-row>
        <o-text-input class="input-padding" attr="user_" fxFlex="40" name="user_"></o-text-input>
      </o-row>

      <o-row>
        <o-email-input attr="email" fxFlex name="email" ></o-email-input>
      </o-row>

      <o-row>
        <o-password-input class="input-padding" attr="password" fxFlex="40"  name="password" ></o-password-input>
      </o-row>

      <o-button attr="raised" type="RAISED" label="Actualizar" (click)="updateUser()" ></o-button>


    </o-column>
  </o-row>
</o-form>
