
<o-form show-header="no" #form service="users" entity="user" keys="user_">
  <o-row>

    <o-column title-label="Formulario_Prueba" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" name="name" label="Nombre"></o-text-input>&nbsp;&nbsp;&nbsp;
        <o-text-input class="input-padding" attr="surname" fxFlex="40" name="surname" label="Apellidos"></o-text-input>
      </o-row>

      <o-row>
        <o-date-input attr="birthday" fxFlex="20" name="birthday" label="Fecha de nacimiento"></o-date-input>
      </o-row>

      <o-row>
        <o-text-input class="input-padding" attr="user_" fxFlex="20" name="user_" label="Nickname"></o-text-input>
      </o-row>

      <o-row>
        <o-password-input class="input-padding" attr="password" fxFlex="20"  name="password"  label="Contraseña"></o-password-input>
      </o-row>

      <o-row>
        <o-email-input attr="email" fxFlex name="email"  label="Correo electrónico" fxFlex="81"></o-email-input>
      </o-row>

      <o-button color="accent" attr="raised" type="RAISED" label="Actualizar" (click)="updateUser()" fxFlex="81"></o-button>


    </o-column>
  </o-row>
</o-form>
