<div class="gallery__item">
  <span *ngIf="!pageOfItems || pageOfItems.length==0" class="empty"> Añade tu primer juego!</span>
  <ng-container *ngFor="let img of pageOfItems">
    <div style="flex-basis: 17%;margin-bottom: 20px;">
      <a [routerLink]="['/main/profile/'+img[0].id]">
        <img
          src="http://{{img[0].url}}"
          alt="Img">
      </a>

      <p>{{img[0].name}}</p>
      <button mat-raised-button color="primary" (click)="deleteFav(img[0].name)">Eliminar</button>
    </div>
  </ng-container>
</div>
<div  class="barraPaginacion" >
  <jw-pagination [hidden]="!pageOfItems" [items]="data" (changePage)="onChangePage($event)"></jw-pagination>
</div>

