@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

.buttonDiv{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

h3{
  color: white !important;
  text-align: center;
  position: relative;
  top: 51px;
  font-size: 35px;
}
section{
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0;
}

.card{
  position: relative;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  -webkit-transition: .5s;
  transition: .5s;
}

/*.card:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/

.col-sm-4:nth-child(1) .card ,
.col-sm-4:nth-child(1) .card .title .fa{
  background: linear-gradient(-45deg,#8217bf,#F0E3F7);

}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#8217bf,#F0E3F7);

}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
  background: linear-gradient(-45deg,#8217bf,#F0E3F7);

}

.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
  box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}

.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price,.option{
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0 ;
  color: #fff;
  font-size: 60px;
}

.price h2{
  margin-top: -30px;
  padding: 20px 0 ;
  color: #fff;
}

.option ul {
  margin: 0;
  padding: 0;

}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.btn {
  width: 100%;
  border: none;
  color: #8217bf;
  background-color: white;
  padding: 16px 32px;
  cursor: pointer;
  margin-top: 70px;
  font-size: 25px;
  border-radius: 40px;

}

.card a:hover{
  text-decoration: none;
}

