
<title>Pricing Table</title>

<body>
<img class="logo" src="/assets/images/logo_login.png" alt="logo">
<p>Recuerda que tras el registro tendrás que elegir uno de los siguientes planes de suscripción</p>
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row" >
        <div class="col-sm-4" *ngFor="let dataItem of dataParsed; let i = index">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h2>{{dataItem.sub_type}}</h2>
            </div>
            <div class="price">
              <h4><sup>€</sup>{{dataItem.price}}</h4>
              <h2 *ngIf="i == 0" ng><sup>&nbsp;</sup><del></del></h2>
              <h2 *ngIf="i == 1" ng><sup>€</sup><del>{{9.99*3}}</del></h2>
              <h2 *ngIf="i == 2" ng><sup>€</sup><del>{{9.99*12}}</del></h2>
            </div>
            <div class="option">
              <ul>
                <li> <i class="fa fa-check" aria-hidden="true"></i>Acceso ilimitado a más de 100 juegos</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i>Descuentos y eventos exclusivos para miembros</li>
                <li> <i class="fa fa-check" aria-hidden="true"></i>Juegos nuevos cada semana</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="buttonDiv">
      <button mat-raised-button color="primary" style="flex-basis: 10%"  routerLink="/register">Me interesa</button>
      <button mat-raised-button color="primary" style="flex-basis: 10%" routerLink="/main/home">No me interesa</button>
    </div>
  </div>
</section>
</body>

