*{
  box-sizing: border-box;
  top: -215px
}

.details-wrapper{
  width: 100%;
  padding-top: 10px;
  position: relative;
  max-width: 1155px;
  left: 246px;
}

.source{
 margin-left: 700px;
  color: rgb(255, 255, 255);
}

.game-banner{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.1);
}

.gamepage-background{
  left: 0;
  height: 442px;
  width: 100%;
  overflow: hidden;
}

.game-cover ::before{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.game-cover{
  float: left;
  width: 264px;
  margin-right: 15px;

}


.game-header-title{
  font-size: 70px;
  color: #fff;
  height: auto;
font-weight: bold;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.game-header-date{
  color: #fff;
  font-weight: 700;
}

.game-header-genres{
  color: #fff;
  font-weight: 700;
}

.game-header-platforms{
  color: #fff;
  font-weight: 700;
}

.game-header-description{
  color: #fff;
  font-weight: 200;
  margin-top: 10px;
  font-size: 15px;

}

button {
  width: 100%;
  margin: 32px 0 0;
  height: 42px;
  font-size: 16px;
  color: white !important;
  border-radius: 40px;
  position: relative;
  top: -10px
}

