<div class="content" id="content-page">
  <div class="gamepage-header"></div>
</div>
<div class="gamepage-background">
  <div class="game-banner"
       [style.background-image]="data && data[0].coverUrl.replace('t_cover_big','t_screenshot_big') | safeHtml"></div>
</div>
<div class="gamepage-header-content">


  <div class="details-wrapper">
    <div class="game-header">
      <div class="game-cover">
        <img src="http://{{data && data[0].coverUrl}}" alt="cover">
        <button mat-raised-button color="primary" (click)="addFav()">Añadir a favorito</button>
      </div>
      <h1 class="game-header-title">{{data && data[0].title}}</h1>
      <h2 class="game-header-date">{{data && data[0].releaseDatesY}}</h2>
      <p class="game-header-genres">
        <ng-container *ngFor="let dataItem of data">
          <span>Géneros: </span>
      <div class="genres" *ngFor="let genre of dataItem.genres ; let i = index" style="display: inline">
        <span *ngIf="i!=dataItem.genres.length-1">{{genre.name}}, &nbsp;</span>
        <span *ngIf="i==dataItem.genres.length-1">{{genre.name}} &nbsp;</span>
      </div>
      </ng-container>

      </p>

      <ng-container *ngFor="let dataItem of data">
        <div class="game-header-genres">
          <span>Plataformas: </span>
          <div *ngFor="let platform of dataItem.platforms ; let i = index" style="display: inline">
            <span *ngIf="i!=dataItem.platforms.length-1">{{platform.name}}, &nbsp;</span>
            <span *ngIf="i==dataItem.platforms.length-1">{{platform.name}} &nbsp;</span>
          </div>
        </div>
      </ng-container>
    <div class="game-header-description">{{data && data[0].summary}}
    </div>
    <span class="source">(Fuente obtenida de IGDB)</span>
  </div>
</div>
</div>
